<section>
  <h2><%= @dog.name %></h2>

  <% @dog.images.each do |image| %>
    <%= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
  <% end %>

  <p><%= @dog.description %></p>
  <% if user_signed_in? && @dog.is_owner?(current_user) %>
    <%= link_to "Edit #{@dog.name}'s Profile", edit_dog_path %>
    <br>
    <%= link_to "Delete #{@dog.name}'s Profile", dog_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

  <% if user_signed_in? && @dog.can_like_by?(current_user)%>
    <% if @dog.liked_by?(current_user)%>
      <%= simple_form_for [@dog, @like] do |f| %>
        <%= f.button :submit, 'Like' %>
      <% end %>
    <% else %>
      <p>You liked this dog.</p>
    <% end %>
  <% end %>
</section>
